<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Piwonka.CC</title>

    @if (ViewData["MetaDescription"] != null)
    {
        <meta name="description" content="@ViewData["MetaDescription"]" />
    }

    @if (ViewData["MetaKeywords"] != null)
    {
        <meta name="keywords" content="@ViewData["MetaKeywords"]" />
    }

    <meta property="og:title" content="@ViewData["Title"] - Piwonka.CC" />
    @if (ViewData["MetaDescription"] != null)
    {
        <meta property="og:description" content="@ViewData["MetaDescription"]" />
    }
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Piwonka.CC.styles.css" asp-append-version="true" />

    <!-- TinyMCE CDN -->
    
    <script src="https://cdn.tiny.cloud/1/1zkjur802vt67keg6k9wfwsj6861v424cpawdcgzoqdcqftj/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Zusätzliche Styles für Seiten -->
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">piwonka.cc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Blog/Index">Blog</a>
                        </li>

                        <!-- Hierarchisches Menü -->
                        @await Component.InvokeAsync("MainMenu")

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-6">
                    &copy; 2024 - Piwonka.CC -
                    <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
                <div class="col-md-6 text-end">
                    @await Component.InvokeAsync("FooterSeiten")
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- JavaScript Section für Seiten -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>